<div class="modal-body">
    <div class="card-header">
        <h4>Cart
            <button type="button" class="close" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
            </button>
        </h4>
    </div>

    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            
            <tbody>

                
                <tr *ngFor="let item of cart; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.name}}</td>
                    <td>
                        <button class="btn" (click)="editQty(item.id,'remove')">&lt;</button>
                        <span class="qty border border-secondary">{{item.quantity}}</span>
                        <button class="btn" (click)="editQty(item.id,'add')">&gt;</button>
                    </td>
                    <td>${{item.price * item.quantity}}</td>
                    <td>
                        <button style="float: right" (click)="removeFromCart(i,item.id,item.quantity)">Remove</button>
                    </td> 
                </tr>
                <ng-container *ngIf="cart.length === 0">
                        <tr>
                            <td colspan="5">No Items in the cart</td>
                        </tr>
                    </ng-container>
            

            </tbody>
            
        </table>
        
            
    </div>

    <div *ngIf="cart.length > 0" class="card-footer" >
        <div class="row">
            <p class="col-sm">Price: <b>${{totalPrice}}</b></p> 
            <button class="btn btn-primary col-sm-3" (click)="checkOut()">Checkout</button>
        </div>
        
    </div>
</div>
