<div class="modal-body">
    <div class="card-body">
        <div class="row header">
            <a class="h4 col-sm">Sign Up</a>
        </div>
        <form [formGroup]= "userForm">
            <div class = "form-group" >
                <input class = "form-control login-input" formControlName="userName" type = "text" placeholder="Username">
                <input class = "form-control login-input" formControlName = "password" type = "password" placeholder="Password">
                <input class = "form-control login-input" formControlName= "rePassword" type = "password" placeholder="Confirm Password" >
                <div class="container fluid">
                    <div class="row">
                        <input class = "col-sm-8 form-control login-input" formControlName="captcha" type = "text" placeholder="Please enter the code" >
                        <img class="col-sm-4" src="assets/images/captcha_ph.png" height="60px">
                    </div>
                </div>
            </div>
        

        <div class="ack-text">
            <a class="small h6">By signing up, you agree to ShoppingCart's Terms of Services & Privacy Policy </a>
        </div>

        <div class="footer">
            <button class="btn" (click)="close()">CANCEL</button>
            <button type="submit" class="btn btn-primary login-button" (click) ="registerUser()">Sign Up</button>
        </div>
        </form>

    </div>  

</div>
    
