<nav class="navbar navbar-dark" style="background-color: #9744be;">
        <div class="container-fluid" >          
            <a class="col-sm-2 h3 text-light brand" [routerLink]="['/']" >ShoppingCart</a>
            <div class="row col-md-7">
                <input class="col-sm form-control " type="text" placeholder="Search" [(ngModel)]="searchInput">
                <input type="button" class="col-sm-2 form-control" (click)="search()" value="SEARCH" >
            </div>
            <div class="col-md">
                <button [hidden]=(!userData) type="button" class="btn cart btn-primary" (click)="openModal(cart,'')" >Cart <span class="badge badge-light">{{totalItems}}</span></button>
            </div>

           
            
            <div class="login-signup" ngbDropdown>
                <ng-container *ngIf="isAuth">
                    <button class="btn btn-success" [routerLink]="" id="dropdownBasic1" ngbDropdownToggle>{{userData.userName}}</button><br>                    
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item"  (click)="openModal(profile,'')" >Profile</a>
                        <a class="dropdown-item" [routerLink]="['orders']">My Orders</a>
                        <a class="dropdown-item" (click)="logout()">Logout</a>
                    </div>                    
                </ng-container>
                <ng-container *ngIf="!isAuth">
                <a [routerLink]="" (click)="openModal(login,'')">Login </a> |
                <a [routerLink]="" (click)="openModal(signup,'')"> Sign Up</a>
                </ng-container>
            </div>
        </div>
    </nav>


<!-- Modals -->

<ng-template #cart let-modal>
    <app-cart (closeModal)="closeModal($event)" (openModal)="openModal(login)"></app-cart>
</ng-template>

<ng-template #login let-modal>
    <app-login (closeModal)="closeModal($event)"></app-login>
</ng-template>

<ng-template #signup let-modal>
    <app-register (closeModal)="closeModal($event)"></app-register>
</ng-template>

<ng-template #profile let-modal>
    <app-profile (closeModal)="closeModal($event)" [userData]="userData"></app-profile>
</ng-template>



