<div class="body">
    <div class="container bg-light">
        <p class="h2">My Orders</p>
        <div *ngFor= "let order of orders; let i=index ">
            <div class="card-header bg-success text-light">{{order.date | date: 'long'}}</div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <th scope="col">#</th>
                        <th scope="col">Item Name</th>
                        <th scope="col" class="w-25">Quantity</th>
                        <th scope="col">Price</th>
                    </thead>
                    <tbody>                        
                        
                        <tr *ngFor = "let item of order.item; let i=index" >
                            <td >{{i+1}} </td>
                            <td>{{item.name}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.price * item.quantity}}</td>
                            
                        </tr>                               
                    </tbody>

                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Total Price: </td>
                            <td><strong>{{order.totalPrice}}</strong></td>
                        </tr>
                    </tfoot>
                    
                </table>
            </div>
            
        </div>
    </div>
</div>