.items {
    margin:1%;
   
    
}

.row{
    text-align: center;
}

.body {
    margin-top: 10%;
}

.item-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.qty {
    margin: 1%;
}




