<div class="modal-body">
    <div class="card-header">
        <h4>Profile
            <button type="button" class="close" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
            </button>
        </h4>
    </div>

    <div class="card-body">
        <div [hidden]="onChangePass">
            <div class="row">
                <p class="col-sm-3">Name: </p> 
                <input type="text" class="form-control" [hidden]="!onEdit">
                <div [hidden]="onEdit">&lt;Not Registered&gt;</div>
    
                <!-- <button class="col-sm-5 btn btn-primary">Enter Full Name</button> -->
            </div>
    
            <div class="row">
                <p class="col-sm-3">Address:</p>
                <input type="text" class="form-control" [hidden]="!onEdit">
                <div [hidden]="onEdit">&lt;Not Registered&gt;</div> 
                <!-- <button class="col-sm-6  btn btn-primary">Enter Shipping Address</button> -->
            </div>
            
            <div class="row">
    
                <p class="col-sm-5">Payment Method:</p>
                <select [hidden]="!onEdit" class="form-control col-sm-6">
                    <option value="cod">Cash on Delivery</option>
                    <option value="credit">Credit Card</option>
                    <option value="visa">Visa</option>
                    <option value="master">Master Card</option>
    
                </select>
                <div [hidden]="onEdit">&lt;Not Registered&gt;</div> 
                <!-- <button class="col-sm-6 btn btn-primary">Set Payment Method</button> -->
    
    
            </div>
            
            <div [hidden]=onEdit>
                <button class="btn btn-primary" (click)="changePass()">Change Password</button>
                <button class="btn btn-primary" (click)="toggleOnEdit()">Edit Details</button>
            </div>
    
            <div [hidden]=!onEdit>
                <button class="btn btn-primary" (click)="saveChanges()">Save Changes</button>
            </div>

        </div>
        
        
        
            
    </div>

    <!-- <div class="card-footer">
        <div class="row">
            <p class="col-sm">Price: <b>${{totalPrice}}</b></p> 
            <button class="btn btn-primary col-sm-3">Checkout</button>
        </div>
        
    </div> -->
</div>
